{% load i18n %}


{% block subject %}
{% blocktrans %}Welcome to {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Hello {{ user }},{% endblocktrans %}

{% blocktrans %}
Your account has been created at {{ site_name}} and your temporary password is cfidb2023. {%endblocktrans %}

{% trans "Please reset the temporary password before you log in to your new account." %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "If you require any assistance navigating through the database or wish to swap assemblies, please do not hesitate to contact me via email or WhatsApp." %}

{% trans "Blessings," %}

{% blocktrans %}Tawanda Zhuwao{% endblocktrans %}
{% blocktrans %}System Developer{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<main style="width: 100%; display: flex; margin: 0 auto;">
    <div style="width: 80%; margin: 0 auto; border: 1px solid #efefef; border-radius: 8px; padding: 24px;">
        <h1 style="text-align: center; font-size: 24px; padding:24px 0; font-weight:200;">
            Welcome aboard the CFI Database!
        </h1>

        <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
            {% blocktrans %}Hello {{ user }},{% endblocktrans %}
        </p>

        <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
            {% blocktrans %}Your account has been created at {{ site_name}} and your temporary password is <span style="color: #1155cc">cfidb2023</span>.{% endblocktrans %}
        </p>

        <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
            {% trans "Please reset the temporary password before you log in to your new account." %}
        </p>

        <p style="padding: 16px 0; margin: 0 auto;">
            <a href="{{ protocol }}://{{ domain }}/auth/reset/password/" style="margin: 0 auto; padding: 12px 24px; border-radius: 4px; text-decoration: none; font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 14px; color: #fff; background: #6c79ff;">
                Reset password
            </a>
        </p>

        <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
            If you require any assistance navigating through the database or wish to swap assemblies, please do not hesitate to
            contact me via email or WhatsApp.
        </p>

        <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
            {% trans "Blessings," %}
        </p>

        <br />

        <div style="border-top: 1px solid #efefef; padding: 16px 0;">
            <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
                <strong>{% blocktrans %}Tawanda Zhuwao{% endblocktrans %}</strong><br />
                {% blocktrans %}Database Developer{% endblocktrans %}
            </p>

            <p style="padding: 16px 0; font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px; color: #7b7b7b">
                {% blocktrans %}{{ site_name }} - {% endblocktrans %}
                <a href="{{ protocol }}://{{ domain }}" style="text-decoration: none;">
                    {{ protocol }}://{{ domain }}
                </a>

                <br />

                If you'd like any assistance, please <a href="https://api.whatsapp.com/send/?phone=263719413653&text&type=phone_number&app_absent=0">send a message</a>.
            </p>

            <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px; color: #7b7b7b"></p>
        </div>
    </div>
</main>
{% endblock html_body %}