{% load i18n %}

{% block subject %}
{% blocktrans %}Welcome aboard the {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Hello {{ user }},{% endblocktrans %}

{% blocktrans %}
Your account has been created at {{ site_name}} and your temporary password is cfidb2023. You are required to reset your temporary password before logging into your new account. {%endblocktrans %}

{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "If you require any assistance navigating through the database or wish to swap assemblies, please let me know." %}

{% trans "Blessings," %}

{% blocktrans %}Tawanda Zhuwao{% endblocktrans %}
{% blocktrans %}System Developer{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<style>
    p {
        color: red !important;
    }
</style>
<main style="width: 100%; display: flex; margin: 0 auto;">
    <div style="width: 100%; margin: 0 auto;">
        <!-- <h1 style="text-align: center; font-size: 24px; padding:24px 0; font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-weight:200;">
            Welcome aboard the CFI Database!
        </h1> -->

        <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 18px; color: #565a5c">
            {% blocktrans %}Hello {{ user }},{% endblocktrans %}
        </p>

        <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 18px; color: #565a5c">
            {% blocktrans %}Your account has been created at {{ site_name}}, and your temporary password is <span style="color: #1155cc">cfidb2023</span>. You are required to reset your temporary password before logging into your new account.{% endblocktrans %}
        </p>

        <p style="padding: 16px 0; margin: 0 auto;">
            <a href="{{ protocol }}://{{ domain }}/auth/reset/password/" style="margin: 0 auto; padding: 10px 16px 14px 16px; border-radius: 3px; text-decoration: none; font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 16px; font-weight: bold; color: #fff; background: #6c79ff;">
                Reset password
            </a>
        </p>

        <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 18px; color: #565a5c">
            If you require any assistance navigating through the database or wish to swap assemblies, please let me know.
        </p>

        <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 18px; color: #565a5c">
            {% trans "Blessings," %}
        </p>

        <br />

        <div style="border-top: 1px solid #efefef; padding: 16px 0;">
            <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 18px; color: #565a5c">
                <strong>{% blocktrans %}Tawanda Zhuwao{% endblocktrans %}</strong><br />
                {% blocktrans %}Database Developer{% endblocktrans %}
            </p>

            <div style="padding: 16px 0; font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 12px; color: #abadae">
                <span>{{ site_name }}</span>&nbsp;-&nbsp;
                <a href="{{ protocol }}://{{ domain }}" style="text-decoration: none; color: #1155cc">
                    {{ protocol }}://{{ domain }}
                </a>

                <br />

                If you'd like my assistance to reset your temporary password, <a style="color: #1155cc" href="https://api.whatsapp.com/send/?phone=26775577933&text&type=phone_number&app_absent=0">let me know</a>.
            </div>

            <p style="font-family: Helvetica Neue,Helvetica,Lucida Grande,Roboto,Arial,Times New Roman,sans-serif; font-size: 12px; color: #abadae">
                This message was sent to {{ user.get_username }} and intended for {{ user }}.
            </p>
        </div>
    </div>
</main>
{% endblock html_body %}