{% load i18n %}

{% block subject %}
{% blocktrans %}Your password has been successfully changed on {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been successfully changed. Log in with your new password to start using the database" %}
{{ protocol }}://{{ domain }}/en/auth/login?stage=verification

{% trans "Blessings," %}

{% endblock text_body %}

{% block html_body %}

<main style="width: 100%; display: flex; justify-content: center; font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Arial, sans-serif;">
    <div style="width: 100%; max-width: 600px; padding: 24px; text-align: left;">
        <h1 style="font-size: 24px; font-weight: 600; color: #111827; margin-bottom: 8px;">
            Password Changed
        </h1>
        
        <p style="font-size: 15px; color: #4B5563;">
            Hello {{ user.first_name|default:user.get_username }}  
        </p>

        <p style="font-size: 15px; color: #4B5563;">
            Your has been password changed successfully. Log in with your new password to continue using the CFI Workspace.
        </p>

        <p style="margin: 24px 0;">
            <a href="{{ protocol }}://{{ domain }}/en/auth/login?stage=verification"
            style="background-color: #0093ff; padding: 12px 24px; font-weight: 500; border-radius: 12px; color: #ffffff; text-decoration: none; font-size: 15px; display: inline-block;">
                Sign in
            </a>
        </p>

        <p style="font-size: 15px; color: #4B5563;">
            Blessings,
        </p>

        <p style="font-size: 15px; color: #4B5563; font-weight: 600;">
            The CFI Workspace Team
        </p>
        
        <footer style="margin-top: 48px; border-top: 1px dashed #E5E7EB; padding-top: 24px; font-size: 11px; color: #9CA3AF; text-align: left; font-weight: 300;">
            <p>
                This email was sent to {{ user.get_username }} and is intended for {{ user }}. If you weren't expecting this email, you can safely ignore it. However, if you're concerned about your account's security, please reply to this email to get in touch with us.
            </p>
        
            <p>
                Need help?
                <a href="https://api.whatsapp.com/send/?phone=26775577933&text&type=phone_number&app_absent=0" style="color: #0093ff;">
                    Contact us on WhatsApp
                </a>
            </p>
        
            <p>
                {{ site_name }} –
                <a href="{{ protocol }}://{{ domain }}" style="color: #0093ff; text-decoration: none;">
                    {{ protocol }}://{{ domain }}
                </a>
            </p>
        </footer>
    </div>
</main>
{% endblock html_body %}