{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been successfully changed. Log in with your new password to start using the database" %}
{{ protocol }}://{{ domain }}/auth/login/

{% trans "Blessings," %}

{% endblock text_body %}

{% block html_body %}
<p>{% trans "Blessings," %}</p>

<main style="width: 100%; display: flex; margin: 0 auto; font-family: Roboto, Arial, Times New Roman, sans-serif;">
    <div style="width: 80%; margin: 0 auto; border: 1px solid #efefef; border-radius: 8px; padding: 24px;">
        <h1 style="font-size: 24px; padding:24px 0; font-weight:200; font-family: Roboto, Arial, Times New Roman, sans-serif;">
            Great! Your password has been changed.
        </h1>

        <p style="font-size: 13px; font-family: Roboto, Arial, Times New Roman, sans-serif;">
            {% trans "Your password has been successfully changed. Log in with your new password to start using the database." %}
        </p>

        <p style="padding: 16px 0; margin: 0 auto;">
            <a style="margin: 0 auto; padding: 12px 24px; border-radius: 4px; text-decoration: none; font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 14px; color: #fff; background: #6c79ff;"
                href="{{ protocol }}://{{ domain }}/auth/login/">
                Log in
            </a>
        </p>

        <p style="font-size: 13px; font-family: Roboto, Arial, Times New Roman, sans-serif;">
            {% trans "Blessings" %}
        </p>

        <br />

        <div style="border-top: 1px solid #efefef; padding: 16px 0;">
            <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px;">
                <strong>{% blocktrans %}Tawanda Zhuwao{% endblocktrans %}</strong><br />
                {% blocktrans %}Database Developer{% endblocktrans %}
            </p>

            <p
                style="padding: 16px 0; font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px; color: #7b7b7b">
                {% blocktrans %}CFI Database - {% endblocktrans %}
                <a href="{{ protocol }}://{{ domain }}" style="text-decoration: none;">
                    {{ protocol }}://{{ domain }}
                </a>

                <br />

                If you'd like any assistance, please <a
                    href="https://api.whatsapp.com/send/?phone=26775577933&text&type=phone_number&app_absent=0">send a
                    message</a>.
            </p>

            <p style="font-family: Roboto, Arial, Times New Roman, sans-serif; font-size: 13px; color: #7b7b7b"></p>
        </div>
    </div>
</main>

{% endblock html_body %}