{% load i18n %}

{% block subject %}
{% blocktrans %}Password Recovery – {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because a password reset was requested for your account on {{ site_name }}.{% endblocktrans %}

{% trans "To reset your password, please go to the following page:" %}
{{ protocol }}://{{ domain }}/en/auth/{{ url|safe }}

{% trans "Username:" %} {{ user.get_username }}

{% trans "If you didn't request this change, you can safely ignore this email." %}

{% blocktrans %}Blessings,{% endblocktrans %}
{% blocktrans %}The CFI Workspace Team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<main style="width: 100%; max-width: 600px; margin: 0 auto; font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Arial, sans-serif; background: #ffffff; padding: 40px;">
  <div style="text-align: left; margin-bottom: 32px;">
    <h1 style="font-size: 24px; font-weight: 600; color: #111827; margin-bottom: 8px;">
      Password Recovery
    </h1>

    <p style="font-size: 15px; color: #4B5563;">
      Hello {{ user.first_name|default:user.get_username }}
    </p>

    <p style="font-size: 15px; color: #4B5563;">
      You're receiving this email because a password reset was requested for your account on {{ site_name }}.
    </p>
  </div>

  <p style="font-size: 15px; color: #4B5563; margin-bottom: 16px; text-align: left;">
    Please click the magic link below to create a new password.
  </p>

  <div style="text-align: left; margin: 24px 0;">
    <a href="{{ protocol }}://{{ domain }}/en/auth/{{ url|safe }}"
       style="background-color: #0093ff; padding: 12px 24px; font-weight: 500; border-radius: 12px; color: #ffffff; text-decoration: none; font-size: 15px; display: inline-block;">
      Reset Password
    </a>
  </div>

  <!-- <p style="font-size: 13px; color: #4B5563; text-align: left;">
    Username: <strong>{{ user.get_username }}</strong>
  </p> -->

  <p style="font-size: 15px; color: #4B5563; text-align: left; margin-top: 24px;">
    If you didn't request this change, you can safely ignore this email.
  </p>

  <p style="font-size: 15px; color: #4B5563; text-align: left; margin-top: 24px;">
    Blessings,
    <br/>
    <br/>
    The CFI Workspace Team
  </p>

  <footer style="margin-top: 48px; border-top: 1px dashed #E5E7EB; padding-top: 24px; font-size: 11px; color: #9CA3AF; text-align: left; font-weight: 300;">
    <p>This email was sent to {{ user.get_username }} and is intended for {{ user }}. If you weren't expecting this email, you can safely ignore it. However, if you're concerned about your account's security, please reply to this email to get in touch with us.</p>

    <p>    
      Need help? 
      <a href="https://api.whatsapp.com/send/?phone=26775577933&text&type=phone_number&app_absent=0" style="color: #0093ff;">
        Contact us on WhatsApp
      </a>
    </p>

    <p>
      {{ site_name }} –
      <a href="{{ protocol }}://{{ domain }}" style="color: #0093ff; text-decoration: none;">
        {{ protocol }}://{{ domain }}
      </a>
    </p>
  </footer>
</main>
{% endblock html_body %}